<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header style="text-align: center; margin-top: 20px;">
  <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
</header>

  <article style="max-width: 800px; margin: 0 auto; padding: 20px;">
    <h2>{{ page.title }}</h2>
    <p>
      <img src="{{ site.author.avatar }}" alt="Foto de perfil" style="border-radius:50%; width:100px; vertical-align: middle;">
      <strong style="margin-left:10px;">by {{ site.author.name }}</strong>
    </p>

    <p>
      <a href="{{ site.author.instagram }}">Instagram</a> |
      <a href="{{ site.author.x }}">X</a> |
      <a href="{{ site.author.github }}">GitHub</a> |
      <a href="{{ site.author.alienvault }}">AlienVault</a>
    </p>

    <div>
      {{ content }}
    </div>
  </article>

<footer style="text-align: center; margin-top: 40px;">
  <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
</footer>
</body>
</html>
